{#
/**
 * @file cert.html.twig
 * Default theme implementation to present Cert data.
 *
 * This template is used when viewing Cert pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_cert()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('cert') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
